---
import BaseLayout from '../layouts/Layout.astro'
---

<BaseLayout title="About me" description="About me page">
	<main class="min-h-full py-6">
		<h2 class="text-4xl font-bold">About me</h2>

	</main>
</BaseLayout>
