---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-row w-full max-w-screen-2xl justify-between py-8 text-gray-600">
  <div>
    <p>2024 Arthur BASTOS</p>
  </div>
  <div class="flex flex-row gap-2">
    <a href="https://github.com/X3ne" target="_blank" rel="noopener">
      <Icon name="mdi:github" class="w-6 h-6 hover:text-gray-800" />
    </a>
    <a href="https://www.linkedin.com/in/a-bastos" target="_blank" rel="noopener">
      <Icon name="mdi:linkedin" class="w-6 h-6 hover:text-gray-800" />
    </a>
  </div>
</footer>
